{% extends 'base.html.twig' %}

{% block title %}Edit ObjectFiles{% endblock %}

{% block body %}
    <h1>Edit ObjectFiles</h1>

    {{ include('object_files/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_object_files_index') }}">back to list</a>

    {{ include('object_files/_delete_form.html.twig') }}
{% endblock %}
