{% extends 'base.html.twig' %}

{% block title %}Edit Deal{% endblock %}

{% block body %}
    <h1>Edit Deal</h1>

    {{ include('deal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_deal_index') }}">back to list</a>

    {{ include('deal/_delete_form.html.twig') }}
{% endblock %}
