<form method="post" action="{{ path('front_profil_delete') }}" onsubmit="return confirm('Voulez vous vraiment supprimer votre profil ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class=" mt-3 inline-block px-6 py-2.5 bg-gradient-to-r from-red-600 to-pink-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg hover:shadow-pink-300 focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">Supprimer le profil</button>
</form>
