{% extends 'base.html.twig' %}

{% block title %}
  Modifier profil
{% endblock %}

{% block body %}
  <div class="bg-indigo-800">
    <h4 class="text-center font-medium leading-tight text-3xl mt-0 mb-2 text-gray-50  pt-[8rem]">Modifier votre profil</h4>
    {{ include('front/profil/_form.html.twig', { button_label: 'Update' }) }}
  </div>
{% endblock %}
