{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}

  <h1>Chat index</h1>

    {% for channel in channelList %}
        <a href="{{ path('front_chat_match', {'id': channel.id}) }}">chat avec : {{ channel.user.name }}</a>
        <br>
    {% else %} 
        Vous n'avez pas de match
    {% endfor %}
{% endblock %}
