{% extends 'base_back.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="flex bg-gray-100 min-h-screen">
        {# <aside class="hidden sm:flex sm:flex-col">
            <a href="#" class="inline-flex items-center justify-center h-20 w-20 bg-purple-600 hover:bg-purple-500 focus:bg-purple-500">
            <img src="{{ asset('build/images/logo.png') }}" alt="MatchNCollect logo">
            </a>
            <div class="flex-grow flex flex-col justify-between text-gray-500 bg-gray-800">
                <nav class="flex flex-col mx-4 my-6 space-y-4">
                    <a href="#" class="inline-flex items-center justify-center py-3 text-purple-600 bg-white rounded-lg">
                    <span class="sr-only">Gestion d'utilisateurs</span>
                    <i class="fa-regular fa-user"></i>
                    </a>
                    <a href="#" class="inline-flex items-center justify-center py-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg">
                    <span class="sr-only">Gestion de catégories</span>
                    <i class="fa-solid fa-icons"></i>
                    </a>
                    <a href="#" class="inline-flex items-center justify-center py-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg">
                    <span class="sr-only">Gestion d'échange</span>
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </a>
                    <a href="#" class="inline-flex items-center justify-center py-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg">
                    <span class="sr-only">Gestion de badge</span>
                    <i class="fa-solid fa-certificate"></i>
                    </a>
                </nav>
                <div class="inline-flex items-center justify-center h-20 w-20 border-t border-gray-700">
                    <button class="p-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg">
                    <span class="sr-only">Paramètres</span>
                    <i class="fa-solid fa-sliders"></i>
                    </button>
                </div>
            </div>
        </aside> #}
        {% include '_sidebar.html.twig' %}
        <div class="flex-grow text-gray-800">
            {# <header class="flex items-center h-20 px-6 sm:px-10 bg-white">
                <button class="block relative flex-shrink-0 p-2 mr-2 text-gray-600 hover:bg-gray-100 hover:text-gray-800 focus:bg-gray-100 focus:text-gray-800 rounded-full">
                    <span class="sr-only">Menu</span>
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="relative w-full max-w-md sm:-ml-2">
                    <i class="fa-solid fa-search absolute top-0 left-0 mt-3 ml-3 text-gray-400"></i>
                    <input type="text" role="search" placeholder="Rechercher..." class="py-2 pl-10 pr-4 w-full border-4 border-transparent placeholder-gray-400 focus:bg-gray-50 rounded-lg" />
                </div>
                <div class="flex flex-shrink-0 items-center ml-auto">
                    <button class="inline-flex items-center p-2 hover:bg-gray-100 focus:bg-gray-100 rounded-lg">
                        <span class="sr-only">Profil d'utilisateur</span>
                        <div class="hidden md:flex md:flex-col md:items-end md:leading-tight">
                            <span class="font-semibold">Admin 1</span>
                            <span class="text-sm text-gray-600">Admin</span>
                        </div>
                        <span class="h-12 w-12 ml-2 sm:ml-3 mr-2 bg-gray-100 rounded-full overflow-hidden">
                            <img src="https://randomuser.me/api/portraits/women/9.jpg" alt="user profile photo" class="h-full w-full object-cover">
                        </span>
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div class="border-l pl-3 ml-3 space-x-1">
                        <button class="relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
                            <span class="sr-only">Se déconnecter</span>
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </button>
                    </div>
                </div>
            </header> #}
            {% include '_header.html.twig' %}
            {% include '_main.html.twig' %}
        </div>
    </div>
{% endblock %}
