{% extends 'base_back.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="flex bg-gray-100 min-h-screen">
        {% block sidebar %}
            {% include '_sidebar.html.twig' %}
        {% endblock %}
        <div class="flex-grow text-gray-800">
            {% block header %}
            {% include '_header.html.twig' %}
            {% endblock %}

            {% block main %}
            {% include '_main.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
