{% extends 'base.html.twig' %}

{% block title %}
  Front
{% endblock %}
   {% block javascripts %}
      {{ encore_entry_script_tags('match') }}
    {% endblock %}

{% block body %}
{% if app.user %}


<style>
    .example-wrapper { margin: 8em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .mw { max-width: 850px;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> 
<div class=" my-20 mx-auto mw">
   <div class="flex font-sans lg:flex">
  <div class="margin-auto flex-none w-[20rem] relative z-[10] card">
  </div>
  <div class="flex-auto p-6 bg-white/40 backdrop-blur-sm shadow-lg rounded-r-lg shadow-violet-800/50 card-wrapper">
    <div class="flex flex-wrap">
      <h1 class="flex-auto font-bold text-slate-900 userid">
      </h1>
    </div>
    <div class="flex flex-col items-baseline mt-4 mb-6 border-b border-gray-600 ">
      <div class="w-full flex max-w-[30rem] mb-6 overflow-x-auto carr">
      </div>
    </div>
    <div class="flex space-x-4 text-sm font-medium">
      <div class="flex-auto flex flex-end space-x-4 tags">
      </div>
    </div>
  </div>
</div>
  <div class="flex justify-end items-center w-[80%] h-24 relative z-10">
    <img class=" cursor-pointer hover:opacity-80 pass" src="{{ asset('build/images/pass.svg') }}">
    <img class=" cursor-pointer hover:opacity-80 fav" src="{{ asset('build/images/fav.svg') }} ">
    <img class=" cursor-pointer hover:opacity-80 like" src="{{ asset('build/images/like.svg') }} ">
  </div>
</div>

{% else %}
  <h2 class="font-medium leading-tight text-4xl mb-2 text-indigo-800 mt-8">Coucou</h2>

{% endif %}

{% endblock %}
