{% extends 'base.html.twig' %}

{% block title %}
  Front
{% endblock %}

{% block body %}
  <h2 class="font-medium leading-tight text-4xl mb-2 text-indigo-800 mt-8">PAGE DES MATCHS</h2>
{% endblock %}
