<form method="post" action="{{ path('back_app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="inline-flex px-5 py-3 text-white bg-purple-600 hover:bg-purple-700 focus:bg-purple-700 rounded-md ml-6 mb-3">
    <i class="flex-shrink-0 h-5 w-5 -ml-1 mt-0.5 mr-2 fa-solid fa-trash-can"></i>
    Supprimer
    </button>
</form>