@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background: url('./Vector4.svg') fixed no-repeat right bottom, url('./Vector3.svg') fixed no-repeat right bottom;

  .profil-picture {
    margin: auto;
    img {
      width: 100%;
    }
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .vich-image a img {
    width: 30%;
    margin: auto;
    border: 3px solid black;
  }

}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
