{% extends 'base.html.twig' %}

{% block title %}Hello MatchesController!{% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('match') }}
    {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 8em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .mw { max-width: 850px;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> 
<div class=" my-24 mx-auto mw">
   <div class="flex font-sans lg:flex">
  <div class="margin-auto flex-none w-[20rem] relative card">
  </div>
  <div class="flex-auto p-6 bg-white/40 backdrop-blur-sm shadow-lg rounded-r-lg shadow-violet-800/50 card-wrapper">
    <div class="flex flex-wrap">
      <h1 class="flex-auto font-bold text-slate-900 userid">
      </h1>
    </div>
    <div class="flex flex-col items-baseline mt-4 mb-6 border-b border-gray-600 ">
      <div class="space-x-2 flex text-sm mb-6 desc">
        </div>
      <div class="w-full flex max-w-[30rem] mb-6 overflow-x-auto carr">
      </div>
    </div>
    <div class="flex space-x-4 text-sm font-medium">
      <div class="flex-auto flex flex-end space-x-4 tags">
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
