{% extends 'base.html.twig' %}

{% block title %}New Deal{% endblock %}

{% block body %}
    <h1>Create new Deal</h1>

    {{ include('deal/_form.html.twig') }}

    <a href="{{ path('app_deal_index') }}">back to list</a>
{% endblock %}
