<form method="post" action="{{ path('front_app_items_delete', {'id': item.id}) }}" onsubmit="return confirm('êtes-vous sûre de vouloir supprimer l\'élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="inline-block px-6 py-2.5 bg-gradient-to-r from-red-600 to-pink-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-red-700 hover:shadow-lg hover:shadow-pink-300 focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">Supprimer</button>
</form>
