{% extends 'base.html.twig' %}

{% block title %}
  Edit Items
{% endblock %}

{% block body %}
  <a class="inline-block mt-4 self-center px-6 py-2.5 bg-gradient-to-r from-indigo-600 to-violet-600 text-white font-medium text-xs uppercase rounded shadow-md shadow-violet-300 hover:shadow-lg hover:shadow-violet-300 transition duration-150 ease-in-out" href="{{ path('front_app_user_show', {'id': user.id}) }}">Retour</a>
  {{ include('front/items/_form.html.twig', { button_label: 'Modifier' }) }}
{% endblock %}
