{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
  <div class="h-full flex flex-col justify-center">
    <h4 class="text-center font-medium leading-tight text-3xl mt-0 mb-2 text-black ">Ajouter un objet</h4>
    {{ include('front/items/_form.html.twig', { button_label: 'Ajouter' }) }}
  </div>
{% endblock %}
