{% extends 'base.html.twig' %}

{% block title %}
  Modifier profil
{% endblock %}

{% block body %}
  <div class="h-full flex flex-col justify-center">
    <h4 class=" text-center font-medium leading-tight text-3xl mt-0 mb-2 text-black">Modifier votre profil</h4>
    {{ include('user/_form.html.twig', { button_label: 'Update' }) }}
  </div>
{% endblock %}
