{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('front_app_user_index') }}">back to list</a>
{% endblock %}
